.moveplugins-promo-bar {
  background: #636460;
  border-top: 1px solid #484849;
  border-bottom: 1px solid #484849;
  width:100%;
}
.moveplugins-promo-bar .moveplugins-container {
  position: relative;
  width:80%;
  margin: 0 auto;
}
.moveplugins-promo-bar p {
  font-family: "ronnia", Helvetica, Arial, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: normal;
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.39);
  text-align: center;
  margin: 0;
  padding: 10px 0;
}
.moveplugins-promo-bar p a {
  color: #ffffff;
  display: block;
}
.moveplugins-promo-bar .close {
  position: absolute;
  right: 0;
  top: 12px;
}
.moveplugins-promo-bar .close a {
  color: #ffffff;
}
.moveplugins-promo-bar .close a:hover {
  color: #e6e6e6;
  text-decoration: none;
}
.moveplugins-promo-bar {
  background: #484849;
  border-color: #2f3949;
  -webkit-box-shadow: inset 0 1px 0 #69768c;
  -moz-box-shadow: inset 0 1px 0 #69768c;
  box-shadow: inset 0 1px 0 #69768c;
}

@font-face {
	font-family: 'move_plugins_close';
	src:url('fonts/move_plugins_close.eot');
	src:url('fonts/move_plugins_close.eot?#iefix') format('embedded-opentype'),
		url('fonts/move_plugins_close.svg#move_plugins_close') format('svg'),
		url('fonts/move_plugins_close.woff') format('woff'),
		url('fonts/move_plugins_close.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
	font-family: 'move_plugins_close';
	content: attr(data-icon);
	speak: none;
	font-weight: normal;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}

/* Use the following CSS code if you want to have a class per icon */
[class^="move_plugins_"]:before, [class*=" move_plugins_"]:before {
	font-family: 'move_plugins_close';
	font-style: normal;
	speak: none;
	font-weight: normal;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}
.move_plugins_cancel:before {
	content: "\78";
}
